@import 'mixins';//

.site-header nav {
    ul{
        padding:0;
        margin:0;
        @extend .group; // clearfix 
    }
    li{
        list-style:none;//remove the bullets.
        float:left;//so that they stay at the same line
        margin-right: 10px;


        /*
        COURSE 67TH
        media queries: two advantages:
        1: It centralizes our media query conditions.
        
        */
        @include bp-babyBear {
            float:none;
            margin-right: 0;
            margin-bottom: 2px;
        }

        @include bp-papaBear {
            margin-right:50px;
        }
    }
    a {
        display: block;
        padding: 10px;
        background-color: $primaryColor;
        color:#FFF;
        text-decoration: none;
    }
}

