h1{
    font-size: 165%;
    font-weight: normal;
}


p {
    color: green;
}

/*rule 5: brown wins over green here for p.*/
p {
    color: brown;
}

/*The below will not work*/
footer {
    color: orange;
}

/*The one is more specific than naked p, so it will work*/
footer p {
    color: red;
}

.highlight {
    color: purple;
}

footer .highlight {
    color: blue;
}
