html {
    background-color: #869960;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 85%;
}


.container{ 
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;/*white*/
    padding-left: 40px;/*40 px for columns padding look good.*/
    padding-right: 40px;
    box-sizing: border-box;/*Let the browser notice that you shouold use max width as actual box size here.*/
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #33cc33;
}

header h1 {
    margin: 0;
     /*remove its margin*/


    font-weight: normal;
    font-size:normal;
   
}

header p {
    margin: 0;
    /*remove its margin as well*/
}

.site-nav {
    margin-top: 20px;
}

.site-nav ul{
    margin: 0;
    padding: 0;
}

/* Site Navigation */
.site-nav li {
    list-style: none;
    float: left;
}
/* End Site Navigation*/
.site-nav a{
    color: #617140;
    text-decoration: none;
    padding: 10px 20px;

    /*
    So while we are targeting the link elements we will add a property
...
    */


    border: 3px solid #e5e9dc;
}



.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}


.main-area {
    width: 66%;/*Only take 66% of the width*/
    float: left;/*tell the main area to float to the left*/
    padding-right: 40px;
    box-sizing: border-box;

}

.sidebar{
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px 20px 40px;/*top right bottom left*/

    box-sizing: border-box;
    font-size: 85%;
   
}

footer {
    text-align: center;
    font-size: 85%;
    color: #999;/*lighter gray*/
    padding-bottom: 20px;
    padding-top: 20px;
}


.fix{
    clear: both;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}