
.btn {
    background-color: $mainblue;
    color: #FFF;
    text-decoration: none; /*remove the underline*/
    padding: .75rem 1.2rem;
    display: inline-block; /*That way, its parent and surrounding elements will be aware of its 
    vertical padding.*/


    &__orange {
        background-color: $mainOrange;
    }

    &__large {
        font-size: 1.25rem;
        padding: 1.1rem 1.9rem;
    }
}