.large-hero {
  
    position: relative;
}

.large-hero__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);/*push down the length of the element.*/
    left: 0;
    width: 100%;
    text-align: center;
}