.row{
    /* LEC 26!
    the containing row element treats its two child element as blank.
    For example, if we set color as yellow here, nothing's color will change in the web page.
    */
 
 


   &--t-padding {
       padding-top: 80px;
   }



/*delete > div rules*/

    margin-bottom: 1rem;


   @mixin atMedium {
    display: grid;
    grid-template-columns: repeat(12, 1fr);



    &__b-margin-until-medium {
        margin-bottom: 0;
    }


    &--gutters {
        column-gap: 5.3%;
    }
 
 
   
 
    &--gutters-large {
        column-gap: 8%;
    }
 
    &--gutters-small {
        column-gap: 3.6%;
    }


    &__large-1,
    &__large-2,
    &__large-3,
    &__large-4,
    &__large-5,
    &__large-6,
    &__large-7,
    &__large-8,
    &__large-9,
    &__large-10,
    &__large-11,
    &__large-12 {
        grid-column: span 12;
    }


 
    &__medium-4{
        grid-column: span 4;
    }



    /*lecture 30*/
    &__medium-6 {
        grid-column: span 6;
    }
    
    

    &__medium-8{
        grid-column: span 8;
    }
    


   }
/*end of mixin atMedium*/





   @mixin atLarge {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    &__b-margin-until-large {
        margin-bottom: 0;
    }

 
    &__large-4{
       grid-column: span 4;
    }


    /*lecture 30*/
    &__large-6 {
        grid-column: span 6;
    }

    &__large-8{
        grid-column: span 8;
    }

 

   }





   &__b-margin-until-medium {
     
    margin-bottom:1rem;
}

 
/*Begin equal height rules COURSE 34*/
&--equal-height-at-medium {
    @mixin atMedium{
    display:flex;
    }

    & > div{
        /*Two lines of code below force it to become a flex box.*/
        float:none;
        display: flex;
    }
}


/*Begin equal height rules COURSE 34*/
&--equal-height-at-large {
    @mixin atLarge{
    /*display:flex;*/
    /*deleted in course 41st.*/


    & > div{
        /*Two lines of code below force it to become a flex box.*/
        display: flex;
    }
    }
    /*End of atLarge*/

  
}


  
}

.clear-me {
    clear: both;
}