.site-header {
  padding   : 10px 0;

  position  : absolute;
  width     : 100%;
  z-index   : 2;
  transition: background-color .3s ease-out;


  &--is-expanded {
    background-color: rgba(47, 85, 114, .55);
  }

  @mixin atMedium {
    background-color: rgba(47, 85, 114, .3);
  }




  &__btn-container {
    @mixin atMedium {
     order: 2; /*flex box default order is 1.*/
    }


  }


  &__logo {
    position        : absolute;
    top             : 0;
    left            : 50%;
    transform       : translateX(-50%);
    background-color: $mainblue;
    padding         : 13px 29px;

    @mixin atMedium {
      left     : auto;
      transform: translateX(0);
      padding  : 25px 36px;
    }

  }


  &__logo__graphic {
    text-indent: -9999px;
  }


  &__menu-icon {
    width : 20px;
    height: 19px;

    position: absolute;
    top     : 10px;
    right   : 10px;
    z-index : 10;
    /*must be higher than the menu at any time.*/

    &::before{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 0;

      transition: transform .3s ease-out;

    }

    &__top {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      @mixin atMedium {
        display: none;
      }

    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transition: all .3f ease-out;

      transform-origin: 0 50%;
      @mixin atMedium {
        display: none;
      }

    }
    &::after {
      content:"";
      position: absolute;
      bottom:0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 100%;
      transition: transform .3f ease-out;
      @mixin atMedium {
        display: none;
      }

    }


    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }


    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }
    /*
    We use the cascading selectors here so that we will not use the close-x as its base.
    The middle bar doesn't have close-x in its name.
    */



    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }



  &__menu-content {
    opacity    : 0;
    transform  : scale(1.2);
    transition : all .3s ease-out;
    z-index    : -10;
    position   : relative;
    display    : block;
    padding-top: 90px;
    text-align : center;
   
    

    @mixin atMedium {
      display: flex;
      justify-content: flex-end; /*push all content to right.*/

      opacity    : 1;
      z-index    : 1;
      padding-top: 0;
      transform  : scale(1);
    }

    /*JS works here:)*/
    &--is-visible {
      opacity  : 1;
      z-index  : 1;
      transform: scale(1);

    }
  }
}