html {
    background-color: #869960;
    line-height: 1.5;
}

body {
    font-family: 'PTSans',Arial,sans-serif;
    font-size: 85%;
    /*
    The element selector here will influence entire page.
    */
}


/* Custom Fonts 41ST COURSE*/
@font-face {
    font-family: 'PTSans';
    src: url('fonts/PT-Sans.eot');
    /*copy and paste okay here.*/
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
    url('fonts/PT-Sans.woff')format('woff'),
    url('fonts/PT-Sans.ttf')format('truetype')
    url('fonts/PT-Sans.svg#pt_sansregular')format('svg');
    font-weight:normal;
    font-size:normal;
}
/* End Custom Fonts*/

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PT-Sans-Bold.eot');
    /*copy and paste okay here.*/
    src: url('fonts/PT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/PT-Sans-Bold.woff')format('woff'),
    url('fonts/PT-Sans-Bold.ttf')format('truetype')
    url('fonts/PT-Sans.Bold.svg#pt_sansregular')format('svg');
    font-weight:bold;
    font-size:normal;
}


@font-face {
    font-family: 'PTSans';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/PT-Sans-Italic.eot');
    /*copy and paste okay here.*/
    src: url('fonts/PT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/PT-Sans-Italic.woff')format('woff'),
    url('fonts/PT-Sans-Italic.ttf')format('truetype')
    url('fonts/PT-Sans.Italic.svg#pt_sansregular')format('svg');
}

@font-face {
    font-family: 'PTSans';
    font-weight: bold;
    font-style: italic;
    src: url('fonts/PT-Sans-Italic.eot');
    /*copy and paste okay here.*/
    src: url('fonts/PT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/PT-Sans-BoldItalic.woff')format('woff'),
    url('fonts/PT-Sans-BoldItalic.ttf')format('truetype')
    url('fonts/PT-Sans.BoldItalic.svg#pt_sansregular')format('svg');
}



a {
    text-decoration: none;
    /*remove underline from our element.*/
}

.container{ 
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    /*
    background-color: #FFF;
    */
    /*white*/
    /*!40 px for columns padding look good.!*/
    

    /*
    DIFFERENT LAYERS
    background layers could
    */
    background:url(../icon.png) left bottom repeat-x,
    #FFF url(../icon.png) left top repeat-x;/*overlapped by preceding layers*/
    background-size: 2%;
    /*
    background-repeat: repeat-x;
    */
    
    
  
    /*
    no-repeat
    repeat-x
    */
    padding-top: 20px;
    padding-left: 40px;
    
    box-sizing: border-box;/*Let the browser notice that you shouold use max width as actual box size here.*/
}




header {
    /*
    padding-top: 20px;
    padding-bottom: 20px;
    */
        background-image: url(../flower.jpg);
    background-position: right center; /*hortizontal vertical*/
    background-repeat: no-repeat;
    color: #33cc33;

}

header h1 {
    margin: 0;
     /*remove its margin*/


    font-weight: normal;
    font-size:normal;
   
}

header p {
    margin: 0;
    /*remove its margin as well*/
}

.site-nav {
    margin-top: 10px;
}

.site-nav ul{
    margin: 0;
    padding: 0;
}

/* Site Navigation */
.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
    /*margin between each link 5 pixels.*/
}
/* End Site Navigation*/
.site-nav a{
    /*!
    We want to overwrite the default behavior,
    */
    display: block;/*We want the link to be block-level element.
    It can receive vertical padding, and the content around it
    will be aware of that padding.*/
    color: #617140;
    text-decoration: none;
    padding: 10px 20px;

    background-color: #FFF;

    /*
    So while we are targeting the link elements we will add a property
...
    */


    border: 3px solid #e5e9dc;
    border-bottom: none;/*make two parts close to each other with zero distance.*/
}

.birds {
  
    height: 20em;
    /*
    Reserve 20 lines.
    */
    text-align: center;
  
    background: #c2bbb1 url(../bird.jpg) no-repeat center center;
    
   /*https://www.w3schools.com/css/css_background_shorthand.asp*/
    /*
      background-color: #c2bbb1;
    background-image: url(../bird.jpg);
    background-position: center center;
    
    background-repeat: no-repeat;

    */
    background-size: cover;
    
}

.site-nav a:hover {/*pseudo selector.*/
    background-color: pink;
    /*So, when*/
}


.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

/*40th course: css typography*/
.main-area h2 {
    font-size: 175%;
    font-weight: normal;/*rather than default font-weight: bold; here*/
    font-style: italic;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-shadow:2px 10px 3px rgba(0,0,0,.5);
    text-transform:lowercase;
    text-decoration: underline;
}

.main-area p{
    font-size: 108%;
    text-align: left;
    text-indent: 25px;
  
}

.jieti{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 300%;
    color: red;
}





    /*So that, here, the inter-border spacing will be 0px,
    and two borders will collpase into one.*/
    /*
    when border-spacing is 0, then:
    	Borders are collapsed into a single border 
        when possible (border-spacing and empty-cells properties have no effect)
    */
table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;

}


.col-claimed-territory{
    width: 60%;
}
.col-quantity {
    width: 20%;
}
.col-population{
    width: 20%;
}


/*Table styles*/
table th {
    text-align: left;
    background-color: #869960;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
}

table th,
table td {
    border: 1px solid #869960;
    padding: 10px;
    vertical-align: top;/*default value is middle here.*/


    /*vertical property*/
    /*Sometimes a line's cell might be too large so that it will more lines than other cells within 
    the line. You could overwrite vertical here.*/

}

/*
This pseudo-selector will grab every other table 
*/
table tbody tr:nth-child(odd) td{
    background-color: rgb(0,128,0);
    /*all odd number of rows follow this rule.*/
}



/*A better equivalent for the one in README.txt[1]...*/
table.separatist-list tr:nth-child(2),
table.separatist-list tr:nth-child(3) {
    text-align: center;
}




 .big-head{
     text-align: central;
    background-color: red;
    padding-left: 18%;
}


.big-head:before,
.big-head:after {
    content: "";
    display: table;
}

.big-head:after {
    clear: both;
}

.big-head {
    zoom: 1;
}



.main-area {
    width: 66%;/*Only take 66% of the width*/
    float: left;/*tell the main area to float to the left*/
    padding-right: 40px;
    box-sizing: border-box;

}


/* Form Styles*/
form{
    background-color: #ECECEC;
    padding: 10px 20px;
}

.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow:hidden;
    visibility:hidden;
}


input,
select {
    font-family:Tahoma, sans-serif;
    font-size: 100%;
}

select {
    /*force firefox and chromium to do same */
    -webkit-appearance: none;
    -webkit-border-raidus: 0;
    border-radius: 0;
}

input[type="email"],
input[type="password"],
input[type="text"], 
input[type="number"], 
input[type="tel"],
select {
    /*So, here, email makes its own row.*/
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #CDCDCD;/*light gray*/
    outline: none;/*email, password, doesn't have line. But the select button
    still does.*/
}


input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus, 
input[type="number"]:focus, 
input[type="tel"]:focus{
    border: 1px solid #869980;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13);
}


input[type="submit"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: #869960;
    color:white;
    padding: 10px 0;
    border: 1px solid #798A56;
    border-radius: 3px;
    margin-bottom: 10px;
    outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
    border: 1px solid #535e38;
    background-color: #798A56;    
}

.checkbox-text {
    font-size: 85%;
    color: #777;/*medium gray*/
}

.sidebar{
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
}

footer {
    text-align: center;
    font-size: 85%;
    color: #999;/*lighter gray*/
    padding-bottom: 20px;
    padding-top: 20px;
}




.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

