html {
    background-color: #869960;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 85%;
    /*
    By simply using body element, these font properties are 
    inherited and cascading down to the entire page.
    */
}


.container{ 
    max-width: 940px;

    /*make the width horizontally centered in the browser window
    by using two autos.*/
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;/*white*/
    padding-left: 40px;/*40 px for columns padding look good.*/
    padding-right: 40px;
    box-sizing: border-box;/*Let the browser notice that you shouold use max width as actual box size here.*/
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #33cc33;
}

header h1 {
    margin: 0;
     /*remove its margin*/


    font-weight: normal;
    font-size:normal;
   
}

header p {
    margin: 0;
    /*remove its margin as well*/
}
.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}


.main-area {
    width: 66%;/*Only take 66% of the width*/
    float: left;/*tell the main area to float to the left*/
    padding-right: 40px;
    box-sizing: border-box;

}


/*!
float:
e.g.: a newspaper or magazine,
Typically you'll see images floated to the left or
the right and the main text of the article wraps itself around
the image.
So, we need to float not only main-area element but also sidebar element here.
*/

.sidebar{
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px 20px 40px;/*top right bottom left*/
    /*
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    */
    /*padding: 20px 40px*/
    /*still some different shorthands, actually...*/
    
    box-sizing: border-box;
    font-size: 85%;
   
}
/*!
Question 1:
main-area:width 66% and sidebar::width 34%, why?
Just to add up to 100% so that to make use of all the available width.


*/


/*
It will look better it it was horizontally centered.
*/
footer {
    text-align: center;
    font-size: 85%;
    color: #999;/*lighter gray*/
    padding-bottom: 20px;
    padding-top: 20px;
}


.fix{
    clear: both;
}

/*
clear fix method:
It works for every browser.
*/
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

/*
We just adding 40px to the container, parent element.
*/